.ks-logo
  display: inline-block
  vertical-align: top
  font-size: 46px
  line-height: 1
  color: #FFF
  .icon
    vertical-align: top

.menu-btn
  width: 46px
  height: 46px
  line-height: 46px
  background: none
  font-size: 19px
  color: #FFF
  .icon
    vertical-align: middle
    position: relative
    top: -3px

.search-btn
  width: 46px
  height: 46px
  line-height: 46px
  background: none
  font-size: 19px
  color: #FFF
  .icon
    vertical-align: middle
    position: relative
    top: -3px



.icon-book-plus
  font-size: 18px

.icon-bullet
  width: 12px
  height: 12px
  line-height: 12px
  text-align: center
  background: $yellow
  font-size: 6px
  border-radius: 50%
  color: #434E55



.btn
  display: inline-block
  vertical-align: middle
  height: 40px
  padding: 0 29px
  box-sizing: border-box
  border-radius: 20px
  background: #ECEEF0
  color: #88949C
  text-decoration: none
  text-align: center
  font-size: 14px
  +text-overflow
  +bold
  &:hover,
  &:active
    background: $blue
    color: #FFF

a.btn
  line-height: 40px

.btn_border
  border: 2px solid $blue
  color: $blue
  background: none

a.btn_border
  line-height: 36px

.btn_circle
  width: 40px
  padding: 0
  border-radius: 50%

.btn_more
  display: block
  margin: 30px auto 0

.btn_read
  padding: 0
  width: 105px
  background: $yellow
  color: #3B4952
  .icon
    margin-right: 5px
    font-size: 15px
    position: relative
    top: 1px
  &:hover,
  &:active
    background: darken($yellow, 3%)
    color: #3B4952
