.ks-logo
  display: inline-block
  vertical-align: top
  font-size: 46px
  line-height: 1
  color: inherit
  .icon
    vertical-align: top

.menu-btn,
.search-btn,
.settings-btn
  width: 46px
  height: 46px
  line-height: 46px
  background: none
  font-size: 19px
  color: inherit

.menu-btn
  .icon-menu
    vertical-align: middle
    position: relative
    top: -3px

.search-btn
  position: relative
  .icon-search
    vertical-align: middle
    position: relative
    top: -3px
    transition: all 0.2s linear
  .icon-close2
    visibility: hidden
    position: absolute
    top: 50%
    left: 0
    right: 0
    text-align: center
    font-size: 15px
    margin-top: -7px
    transition: all 0.2s linear
  &.is-active
    .icon-close2
      visibility: visible
    .icon-search
      visibility: hidden

.settings-btn
  .icon-gear
    font-size: 24px
    vertical-align: middle
    position: relative
    top: -2px
  &.is-active
    color: $blue




.icon-book-plus
  font-size: 18px

.icon-heart
  font-size: 14px
  .btn_circle &
    position: relative
    top: 2px

.icon-bullet
  width: 12px
  height: 12px
  line-height: 12px
  text-align: center
  background: $yellow
  font-size: 6px
  border-radius: 50%
  color: #434E55

.hint
  display: inline-block
  background: $yellow
  width: 14px
  height: 14px
  padding: 1px
  box-sizing: border-box
  border-radius: 50%
  text-align: center
  font-size: 11px
  line-height: 14px
  color: #3B4952
  cursor: pointer
  text-decoration: none
  +bolder
  &:before
    display: inline-block
    content: "?"
    line-height: 1



.btn
  display: inline-block
  vertical-align: middle
  height: 40px
  padding: 0 29px
  box-sizing: border-box
  border-radius: 20px
  background: $gray
  color: #88949C
  text-decoration: none
  text-align: center
  font-size: 14px
  +text-overflow
  +bold
  +tap
  &:hover,
  &:active,
  &.is-active
    background: $blue
    color: #FFF

a.btn
  line-height: 40px

.btn_border
  border: 2px solid $blue
  color: $blue
  background: none

a.btn_border
  line-height: 36px

.btn_circle
  width: 40px
  padding: 0
  border-radius: 50%

.btn_last
  display: block
  margin: 30px auto 0

.btn_yellow
  background: $yellow
  color: #3B4952
  .icon
    margin-right: 5px
    font-size: 15px
    position: relative
    top: 1px
  &:hover,
  &:active
    background: darken($yellow, 3%)
    color: #3B4952

.btn_w105
  padding: 0
  width: 105px

.btn_w200
  min-width: 200px

.btn_fw
  padding: 0
  display: block
  width: 100%



.dropdown
  display: inline-block
  position: relative
  padding-right: 22px
  max-width: 100%
  box-sizing: border-box
  .icon
    position: absolute
    top: 50%
    right: 0
    margin-top: -6px

.dropdown__select
  position: absolute
  z-index: 1
  top: 0
  left: 0
  width: 100%
  height: 100%
  opacity: 0
  -webkit-appearance: none

.dropdown__selected
  display: block
  font-size: 14px
  +bolder
  +text-overflow


.field
  & + &
    margin-top: 25px

.field__label
  display: block
  margin-bottom: 11px
  font-size: 14px
  +bolder
  color: #8EA9B9
  .hint
    vertical-align: top
    margin-left: 6px

.field__input
  position: relative

.field__row
  margin: 11px 0
  +clr
  .field__label
    display: inline-block
    margin: 0
  > .link
    float: right
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0

.field__colbox
  font-size: 0
  margin: 0 -8px

.field__col
  display: inline-block
  vertical-align: bottom
  width: percentage(126/296)
  box-sizing: border-box
  padding: 0 8px
  &:first-child,
  &:last-child
    width: percentage(85/296)

.field__text
  display: block
  margin: 20px 0 13px
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0

.field__input_dd
  > .icon-bullet
    position: absolute
    top: 50%
    right: 7px
    transform: translateY(-50%)
  > .input
    padding-right: 24px

  > select
    position: absolute
    z-index: 1
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: 0
    -webkit-appearance: none

.field_tel
  .field__input
    &:first-child
      float: left
      width: percentage(75/280)
    &:last-child
      float: right
      width: percentage(190/280)

.field_settings
  & + &
    margin-top: 40px
  .field__label
    margin-bottom: 18px



.input
  display: block
  box-sizing: border-box
  width: 100%
  padding: 9px 10px
  height: 34px
  background: #FFF
  border: 1px solid #CAD5DD
  border-radius: 5px
  +bolder
  font-size: 14px
  line-height: 1
  color: #3B4952
  +placeholder
    font-size: 14px
    +bolder
    line-height: normal
    color: rgba(#3B4952, 0.5)

textarea.input
  resize: vertical
  min-height: 120px
  max-height: 300px



.title
  display: block
  margin-bottom: 20px
  font-size: 24px
  line-height: 1.1
  color: #3B4952
  +bold

.title_small
  font-size: 20px
  margin-bottom: 15px


.link
  display: inline-block
  +bolder
  text-decoration: none
  border-bottom: 1px dotted
  &:hover,
  &:active
    border-bottom-color: transparent


.switch-box
  margin: 20px 0
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0

.switch
  display: inline-block
  height: 40px
  border-radius: 20px
  background: $gray
  overflow: hidden
  font-size: 0
  white-space: nowrap

.switch__btn
  display: inline-block
  vertical-align: middle
  height: 40px
  position: relative
  box-sizing: border-box
  font-size: 14px
  line-height: 40px
  color: #88949C
  text-decoration: none
  +bold
  +tap
  > input
    position: absolute
    opacity: 0
  > span
    display: block
    padding: 0 25px
    box-sizing: border-box
    width: 100%
    height: 100%
    border-radius: 20px
    text-align: center
  input:checked ~ span,
  &.is-active > span
    background: $blue
    color: #FFF

.switch_fw
  display: block
  margin: 20px 0
  .switch__btn
    width: 33.33%
    > span
      padding: 0



.check-btn
  display: inline-block
  position: relative
  font-size: 14px
  color: #434E55
  +bolder
  &:hover
    .check-btn__main:before
      border-color: $blue
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.23)

.check-btn__input
  position: absolute
  opacity: 0

.check-btn__main
  display: inline-block
  vertical-align: middle
  position: relative
  padding: 3px 0 3px 30px
  box-sizing: border-box
  line-height: 1.2
  &:before,
  &:after
    content: ""
    position: absolute
  &:before
    top: 0
    left: 0
    width: 22px
    height: 22px
    box-sizing: border-box
    border: 1px solid #CAD5DD
    border-radius: 3px
  &:after
    @extend %icon
    display: none
    top: 6px
    left: 4px
    content: "\e60f"
    color: $blue
    font-size: 11px

.check-btn__input:checked ~ .check-btn__main
  &:after
    display: block

.check-btn_radio
  .check-btn__main
    &:before
      border-radius: 50%
    &:after
      content: ""
      top: 6px
      left: 6px
      width: 10px
      height: 10px
      border-radius: 50%
      background: $blue


.soc-btn-group
  font-size: 0
  .soc-btn
    margin-right: 15px
    &:last-child
      margin-right: 0

.soc-btn
  display: inline-block
  vertical-align: middle
  box-sizing: border-box
  width: 35px
  height: 35px
  line-height: 35px
  border-radius: 5px
  background: #F7F8FB
  text-decoration: none
  text-align: center
  &:before
    line-height: 1
  &.icon-fb
    color: #265A99
    font-size: 16px
  &.icon-tw
    color: #229FFF
    font-size: 14px
  &.icon-vk
    color: #3177A4
    font-size: 12px
  &:hover
    background: darken(#F7F8FB, 5%)



.paginator
  position: absolute
  bottom: 0
  left: 0
  right: 0
  padding: 10px
  text-align: center
  color: #3B4952
  font-size: 14px
  white-space: nowrap

.paginator__inner
  display: inline-block

.paginator__prev,
.paginator__next
  display: inline-block
  vertical-align: middle
  background: $yellow
  width: 30px
  height: 30px
  text-align: center
  border-radius: 50%
  color: #4C5A63
  &:before
    display: inline-block
    line-height: 1

.paginator__prev
  &:before
    transform: rotate(90deg)

.paginator__next
  &:before
    transform: rotate(-90deg)

a.paginator__btn
  line-height: 30px

.paginator__current
  display: inline-block
  vertical-align: middle
  margin: 0 5px
  b, strong
    display: inline-block
    min-width: 25px
    text-align: center
    +bold