//BEGIN header
header.header
  .header__menu
    button.menu-btn(type="button")
      i.icon.icon-menu
  .header__search
    button.search-btn(type="button")
      i.icon.icon-search
  .header__logo
    a.ks-logo(href="/")
      i.icon.icon-logo
//END header