//BEGIN header
header.header.header_light
  .header__inner
    .header__menu
      button.menu-btn(type="button")
        i.icon.icon-menu
    .header__search
      button.settings-btn(type="button")
        i.icon.icon-gear
    .header__center
      .header__center-inner
        block header-content
  
  .settings
    ol.settings__inner
      li.settings__item
        a(href="#") Налаштування
      li.settings__item
        a(href="#") На іншу сторінку
      li.settings__item
        a(href="#") Читати далі
      li.settings__item
        a(href="#") До обкладинки
      li.settings__item
        a(href="#") Додати закладку
      li.settings__item
        a(href="#") Зміст книжки
      li.settings__item
        a(href="#") Цитати та закладки
      li.settings__item
        a(href="#") Пошук слова

//END header