//BEGIN header
header.header.header_light
  .header__inner
    .header__menu
      button.menu-btn(type="button")
        i.icon.icon-menu
    .header__search
      button.settings-btn(type="button")
        i.icon.icon-gear
    .header__center
      .header__center-inner
        block header-content
//END header