doctype html
html
  head
    include _head
 
  body

    //- div(style="text-align:center;margin:20px 0")
      button#switch-view.btn(type="btn") Switch view

    //BEGIN out
    //- #screen-container
    block menu
      include _menu
    .out
      block header
        include _header-book
        include _settings
      
      .book-page-wrapper
        block content
      
      //BEGIN footer
      block footer
      //END footer
      
      block notice

      .page-overlay
    //END out

    //LOAD SCRIPTS
    script(src="js/lib/head.js" data-headjs-load="js/init.js")