//BEGIN menu
nav.menu
  .menu__head
    .menu__icon.icon.icon-planetary
    label.menu__label(for="lang") Література видана:
    .dropdown.js-dd
      span.dropdown__selected.js-dd-selected всіма мовами
      i.icon.icon-bullet
      select.dropdown__select(name="lang")
        option(value="") всіма мовами
        option(value="") українська
        option(value="") російська
        option(value="") англійська
        option(value="") інша
  
  ul.menu__list
    li
      a.menu__item(href="/")
        .menu__icon.icon.icon-logo
        span Головна
    li
      a.menu__item(href="#")
        .menu__icon.icon.icon-book2
        span Мої книжки
    li
      a.menu__item(href="#")
        .menu__icon.icon.icon-label
        span Бестселери
    li
      a.menu__item(href="#")
        .menu__icon.icon.icon-down
        span Новi надходження
    li
      a.menu__item(href="#")
        .menu__icon.icon.icon-list
        span Жанри
    li
      a.menu__item(href="#")
        .menu__icon.icon.icon-pencil
        span Автори
    li
      a.menu__item(href="#")
        .menu__icon.icon.icon-copy
        span Новини
    li
      a.menu__item(href="#")
        .menu__icon.icon.icon-gear
        span Налаштування
//END menu