//BEGIN menu
.menu
  .menu__head
    i.icon.icon-planetary
    .lang
      label.lang__label(for="lang") Література видана:
      .lang__selected 
        span всіма мовами
        i.icon.icon-arrow.icon-bullet
//END menu