extends _layout

block title
  title Authors List

block content

  h1.title Автори
  
  ul.alphabeth
    li.alphabeth__item: a(href="#") A
    li.alphabeth__item: a(href="#") Б
    li.alphabeth__item: a(href="#") В
    li.alphabeth__item: a(href="#") Г
    li.alphabeth__item: a(href="#") Д
    li.alphabeth__item: a(href="#") Е
    li.alphabeth__item: a(href="#") Є
    li.alphabeth__item: a(href="#") Ж
    li.alphabeth__item: a(href="#") З
    li.alphabeth__item: a(href="#") И
    li.alphabeth__item: a(href="#") І
    li.alphabeth__item: a(href="#") Й
    li.alphabeth__item: a(href="#") К
    li.alphabeth__item: a(href="#") Л
    li.alphabeth__item: a(href="#") М
    li.alphabeth__item: a(href="#") Н
    li.alphabeth__item: a(href="#") О
    li.alphabeth__item: a(href="#") П
    li.alphabeth__item: a(href="#") Р
    li.alphabeth__item: a(href="#") С
    li.alphabeth__item: a(href="#") Т
    li.alphabeth__item: a(href="#") У
    li.alphabeth__item: a(href="#") Ф
    li.alphabeth__item: a(href="#") Х
    li.alphabeth__item: a(href="#") Ц
    li.alphabeth__item: a(href="#") Ч
    li.alphabeth__item: a(href="#") Ш
    li.alphabeth__item: a(href="#") Щ
    li.alphabeth__item: a(href="#") Ю
    li.alphabeth__item: a(href="#") Я

  h2.title.title_small Найпопулярніші

  #popular-authors
    a.b(href="#")
      .b__cover
        img(src="http://placehold.it/200x200", alt="")
      .b__container
        strong.b__title Ліна Костенко

    a.b(href="#")
      .b__cover
        img(src="http://placehold.it/200x200", alt="")
      .b__container
        strong.b__title Оксана Забужко

    a.b(href="#")
      .b__cover
        img(src="http://placehold.it/200x200", alt="")
      .b__container
        strong.b__title Наталка Сняданко

    a.b(href="#")
      .b__cover
        img(src="http://placehold.it/200x200", alt="")
      .b__container
        strong.b__title Лариса Денисенко

    a.b(href="#")
      .b__cover
        img(src="http://placehold.it/200x200", alt="")
      .b__container
        strong.b__title Леся Українка

    a.b(href="#")
      .b__cover
        img(src="http://placehold.it/200x200", alt="")
      .b__container
        strong.b__title Юрій Андрухович

    a.b(href="#")
      .b__cover
        img(src="http://placehold.it/200x200", alt="")
      .b__container
        strong.b__title Сергій Жадан

    a.b(href="#")
      .b__cover
        img(src="http://placehold.it/200x200", alt="")
      .b__container
        strong.b__title Тарас Прохасько

    a.b(href="#")
      .b__cover
        img(src="http://placehold.it/200x200", alt="")
      .b__container
        strong.b__title Любко Дереш

    .b
      .b__cover
        img(src="http://placehold.it/200x200", alt="")
      .b__container
        a(href="#").b__title Іван Франко


