extends _layout-book

block title
  title Book Reading

block header-content

  .book-heading
    strong.book-heading__name Зажигая звезду. История «Киевстар» от первого лица
    span.book-heading__author Ігор Литовченко

block content

  .book-text
    h3 Глава 3

    h1 ЭПОХА ПЕРВОНАЧАЛЬНОГО НАКОПЛЕНИЯ

    p
      strong.
        Глава о Perestroike и «лихих девяностых»,из которой можно узнать (или вспомнить), 
        что такое «куклы», «стрелки» и «терки»; а также почерпнуть информацию о том, 
        почему иногда полезно разбираться в исторических процессах и дружить с госорганами.

    p.
      Телеком был далеко не первым моим бизнесом. 
      Когда я заканчивал университет и осваивал предпринимательство, 
      в сфере связи царила государственная монополия. Никто не думал, 
      что на этом можно зарабатывать. Я занимался всем, что могло принести 
      прибыль - автоперевозками, торговлей оргтехникой и цветными металлами, 
      продуктами питания и т. д.

block footer
  .paginator
    .paginator__inner
      button.paginator__prev.icon.icon-arrow(type="button")
      .paginator__current.
        <b>11</b> з <b>89</b>
      button.paginator__next.icon.icon-arrow(type="button")
