extends _layout

block title
  title Feedback

block content

  h1.title Налаштування

  nav.nav-btns
    button.btn(type="button") Обліковий запис
    button.btn(type="button") Особисті дані
    button.btn.is-active(type="button") Зворотній зв’язок

  form.form
    .field
      label.field__label(for="") Повідомлення
      textarea.input(name="")

    button.btn.btn_yellow.btn_last.btn_w200(type="submit") Відправити





  