- var pages = ["frontpage","install-app","register","login","lost-password","my-books","account","personal-data","feedback","authors-list","author-page","list","item","publisher-page","annotation","comments","related","book-reading","news-list","news-page","terms-of-use"]
ol(style="font-size:40px;margin:50px")
  each page in pages
    li: a(href=page + ".html")= page
