- var pages = ["frontpage","install-app","register","login","lost-password","my-books","account","personal-data","feedback","authors-list"]
ol(style="font-size:40px;margin:50px")
  each page in pages
    li: a(href=page + ".html")= page
