extends frontpage

block title
  title Install App

block notice

  //BEGIN notice
  .notice-box
    .notice
      button.notice__close.icon.icon-close(type="button")
      .notice__icon
        img(src="img/app.svg", alt="", width="80", height="80")
      p.notice__text.
        Встановіть застосунок Smart Kyivstar з Apple Store 
        та користуйтесь нашою бібліотекою навіть без Інтернету.
  //END notice

  .page-overlay
