extends _layout

block title
  title List Item

block content
  .breadcrumbs
    a.breadcrumbs__link(href="#") Назад до списку жанрів

  h1.title Фентезі

  label.check-btn
    input.check-btn__input(type="checkbox", name="", val="", checked)
    span.check-btn__main Підписатися на нові надходження цього жанру

  .b
    .b__cover
      img(src="img/covers/cover1.jpg", alt="")
    .b__container
      strong.b__title Мой друг Мегрэ
      span.b__author Жорж Сіменон
      .b__action
        a.btn.btn_yellow.btn_w105(href="#")
          i.icon.icon-book
          |  Читати
        button.btn.btn_border.btn_circle(type="button")
          .icon.icon-book-plus

  .b
    .b__cover
      img(src="img/covers/cover2.jpg", alt="")
    .b__container
      strong.b__title Заколдованный замок. Сборник
      span.b__author Едґар Аллан По
      .b__action
        a.btn.btn_yellow.btn_w105(href="#")
          i.icon.icon-book
          |  Читати
        button.btn.btn_border.btn_circle(type="button")
          .icon.icon-book-plus

  .b
    .b__cover
      img(src="img/covers/cover3.jpg", alt="")
    .b__container
      strong.b__title Сладкий плен его объятий
      span.b__author Олександра Хоукінз
      .b__action
        a.btn.btn_yellow.btn_w105(href="#")
          i.icon.icon-book
          |  Читати
        button.btn.btn_border.btn_circle(type="button")
          .icon.icon-book-plus

  .b
    .b__cover
      img(src="img/covers/cover4.jpg", alt="")
    .b__container
      strong.b__title Сиротка. Расплата за прошлое
      span.b__author Марі-Бернадетт Дюпюї
      .b__action
        a.btn.btn_yellow.btn_w105(href="#")
          i.icon.icon-book
          |  Читати
        button.btn.btn_border.btn_circle(type="button")
          .icon.icon-book-plus

  .b
    .b__cover
      img(src="img/covers/cover5.jpg", alt="")
    .b__container
      strong.b__title Тайные наслаждения
      span.b__author Джоржетт Хейєр
      .b__action
        a.btn.btn_yellow.btn_w105(href="#")
          i.icon.icon-book
          |  Читати
        button.btn.btn_border.btn_circle(type="button")
          .icon.icon-book-plus

  button.btn.btn_border.btn_last(tupe="button") Показати ще