extends _layout

block title
  title List

block content
  h1.title Жанри

  ul.list
    li: a(href="#").list__item Шкільна програма
    li: a(href="#").list__item Фентезі
    li: a(href="#").list__item Фантастика
    li: a(href="#").list__item Філософія
    li: a(href="#").list__item Українська класика
    li: a(href="#").list__item Трилери
    li: a(href="#").list__item Технології
    li: a(href="#").list__item Східна література
    li: a(href="#").list__item Сучасна українська література
    li: a(href="#").list__item Сучасна російська література
    li: a(href="#").list__item Сучасна проза
    li: a(href="#").list__item Стиль життя
    li: a(href="#").list__item Світова література
    li: a(href="#").list__item Світова кухня
    li: a(href="#").list__item Російська класика
    li: a(href="#").list__item Релігія
    li: a(href="#").list__item Публіцистика
    li: a(href="#").list__item Психологія
    li: a(href="#").list__item Пригодницька література
    li: a(href="#").list__item Практичні вміння
    li: a(href="#").list__item Політичний трилер
    li: a(href="#").list__item Політика
    li: a(href="#").list__item Поезія
    li: a(href="#").list__item Підліткова література
    li: a(href="#").list__item Оповідання
    li: a(href="#").list__item Огляди бізнес-книжок
    li: a(href="#").list__item Медицина та здоров'я
    li: a(href="#").list__item Мандрівки та визначні місця
    li: a(href="#").list__item Міський роман
    li: a(href="#").list__item Людина і суспільство
    li: a(href="#").list__item Любовні романи
    li: a(href="#").list__item Література для дітей
    li: a(href="#").list__item Лідерство та підприємництво
    li: a(href="#").list__item Краса і мода
    li: a(href="#").list__item Класична література
    li: a(href="#").list__item Казки, легенди, міфологія
    li: a(href="#").list__item Золоті письменники україни
    li: a(href="#").list__item Жахи та містика
    li: a(href="#").list__item Драматургія
    li: a(href="#").list__item Дизайн
    li: a(href="#").list__item Детективи
    li: a(href="#").list__item Гумористична література
    li: a(href="#").list__item Виховання
    li: a(href="#").list__item Військова справа
    li: a(href="#").list__item Байки
    li: a(href="#").list__item Біографії і автобіографії
    li: a(href="#").list__item Архітектура
    li: a(href="#").list__item Американська література
    li: a(href="#").list__item Альтернативна історія
    li: a(href="#").list__item Історична література
    li: a(href="#").list__item Історія україни
    li: a(href="#").list__item Історія срср
    li: a(href="#").list__item Історія
    li: a(href="#").list__item Європейська література
