extends _layout

block title
  title Lost Password

block content
  h1.title Відновлення паролю

  form.form

    .field.field_tel
      label.field__label Номер телефону:
      .field__row
        .field__input.field__input_dd.js-dd
          input.input.js-dd-selected(type="text", name="PHONE_CODE", readonly, value="067")
          i.icon.icon-bullet
          select.field__select
            option(value="067") 067
            option(value="097") 097
            option(value="098") 098
        .field__input
          input.input(type="tel", name="PHONE_NUMBER")

    button.btn.btn_yellow.btn_w200.btn_last(type="submit") Нагадати пароль по SMS

    .form__footer
      a.link(href="#") Увійти
