extends _layout

block title
  title News Page

block content

  .breadcrumbs
    a.breadcrumbs__link(href="#") Повернутись до всіх новин

  .article-head 
    h1.title Талант та завзятість
    span.article-head__date 8 місяців тому
    .soc-btn-group
      a.soc-btn.icon.icon-fb(href="#")
      a.soc-btn.icon.icon-tw(href="#")
      a.soc-btn.icon.icon-vk(href="#")

  article.article
    p.
      Квінт Горацій вчить нас не питати про те, що буде завтра. 
      Адже завтра варто створювати, а не очікувати. 
      Зараз можна часто почути на вулиці, вдома на кухні та 
      по телебаченню «вони мають зробити», «вони роблять не вірно», 
      «коли вже це закінчиться». Ті народи та нації, котрі керувались 
      такою логікою давно вже стали частиною історії.

    p.
      Варто в усьому бачити шанс. Зараз, у цих непростих обставинах, 
      історія дає нам шанс змінити своє майбутнє та майбутнє нашої країни. 
      Власне про це <a href="#">прекрасна книжка</a> Віктора Андрусіва. 
      За погодженням із автором та його видавцем книжка буде доступна 
      для читання безкоштовно до 24 серпня 2014 року.

    img.article__img(src="img/news/news1.jpg", alt="")

    p.
      Читати будь-які книжки з нашої бібліотеки можна онлайн у один клік 
      <a href="#">на мобільних телефонах та планшетах</a> або <a href="#">на ноутбуках та 
      стаціонарних комп'ютерах</a>. Якщо ж Ваш телефон працює на операційних 
      системах Android або iOS — Ви можете читати 
      наші книжки де завгодно (навіть без Інтернет-з'єднання) завдяки мобільному застосунку 
      Smart Kyivstar, завантажити який прямо зараз можна з <a href="#">Google Play</a> або 
      <a href="#">встановити за допомоги OTA-встановлення</a> на Ваш iPhone.

    p.
      Увага, якщо Ви встановлюєте застосунок на iPhone! 
      Через обмеження, встановлені компанією Apple для мобільних 
      операторів, у застосунку для iPhone відсутні вітрини Послуги 
      (тобто можливість знайти і почати читати нову книжку прямо у застосунку).

    p.
      Отже, для того аби почати читати книжку на Вашому iPhone, Вам небхідно:
    
    ol
      li.
        обрати у налаштуваннях <a href="#">мобільної</a> або <a href="#">desktop</a> версій веб-вітрин опцію 
        «Відображати кнопку «Додати у «Мої книжки».
      li.
        знайти бажану книжку, скористатись кнопкою «Надіслати у «Мої книжки» (праворуч від кнопки «Читати»).
      li.
        відкрити iPhone-застосунок. Протягом 5 хвилин щойно додані книжки з'являться у розділі «У хмарі».

    p.
      Аби зберігти книжки у розділ «На пристрої» необхідно:
    
    ul
      li.
        натиснути «Читати» на бажаній книжці. У меню, що з'явиться, натиснути «Завантажити».
      li.
        якщо не бажаєте відкривати книжку саме зараз — необхідно натиснути на бажаній книжці 
        у розділі «У хмарі» та тримати палець руки у цьому положенні більше 5 секунд. 
        У меню, що з'явиться необхідно натиснути «Завантажити».

    p З повагою,
    p Команда Магазину розумного контенту

