extends _layout

block title
  title Terms

block content

  h1.title.
    Правила надання контент-послуги «Магазин розумного контенту»
    для абонентів мережі рухомого (мобільного) зв’язку «Київстар»


  article.article
    p.
      Правила надання контент-послуги «Магазин розумного контенту» регулюють 
      надання ПрАТ «Київстар» контент-послуги «Магазин розумного контенту» 
      (далі — Послуга) абонентам рухомого (мобільного) зв’язку мережі «Київстар» (далі — Абонент). 
      Про зміну цих Правил Абонента буде повідомлено тим способом, який він обрав у 
      налаштуваннях Послуги, за винятком випадків, коли порядок інформування визначений 
      чинним законодавством України. Будь-який Абонент може ознайомитись із чинними 
      Правилами за адресами <a href="#">http://smart.kyivstar.ua/rules</a> 
      або <a href="#">http://m.smart.kyivstar.ua/rules</a>.


  ul.accordion
    li.accordion__item
      i.icon.icon-bullet
      .accordion__title
        span Активація та відмова від Послуги
      .accordion__content
        .article
          p.
            Правила надання контент-послуги «Магазин розумного контенту» регулюють 
            надання ПрАТ «Київстар» контент-послуги «Магазин розумного контенту» 
            (далі — Послуга) абонентам рухомого (мобільного) зв’язку мережі «Київстар» (далі — Абонент). 
            Про зміну цих Правил Абонента буде повідомлено тим способом, який він обрав у 
            налаштуваннях Послуги, за винятком випадків, коли порядок інформування визначений 
            чинним законодавством України.
    li.accordion__item
      i.icon.icon-bullet
      .accordion__title
        span Користування Послугою
      .accordion__content
        .article
          p.
            Правила надання контент-послуги «Магазин розумного контенту» регулюють 
            надання ПрАТ «Київстар» контент-послуги «Магазин розумного контенту» 
            (далі — Послуга) абонентам рухомого (мобільного) зв’язку мережі «Київстар» (далі — Абонент). 
            Про зміну цих Правил Абонента буде повідомлено тим способом, який він обрав у 
            налаштуваннях Послуги, за винятком випадків, коли порядок інформування визначений 
            чинним законодавством України.


